/* 
&display=swap
&subset=cyrillic-ext */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:regular,600,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=DM+Sans:regular&display=swap');
/*--- ОБНУЛЕНИЕ СТИЛЕЙ ------------------------------------------------------------------ */
/*=======================================================================================================================================*/
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}
html {
}
body {
	line-height: 1;
	font-family: "Open Sans", sans-serif;
	color: #fff;
	background-color: #000;
}
.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
.bg{
	position: absolute;
	top: 0;
	left: 0;
	background: linear-gradient(330deg, rgba(0, 0, 0, 0.00) 31.06%, #000 108.93%), 
							linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0.00) 22%), 
							url('../img/source-bg.png') 50% 50% / cover no-repeat;
	width: 100%;
	height: calc(100vh + 358px);
}
/*=======================================================================================================================================*/
[class*="__container"] {
	max-width: 1491px;
	margin: 0 auto;
	padding: 0px 15px;
}
.sub-title {
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 6px;
	text-transform: uppercase;
	color: #FFC178;
	display: flex;
	column-gap: 32px;
}
.sub-title::before{
	content: '';
	width: 72px;
	height: 2px;
	background-color: #FFC178;
	align-self: center;
}
.title {
	font-size: 64px;
	font-weight: 700;
	line-height: normal;
}
.text {
	font-size: 18px;
	font-weight: 600;
	line-height: 178%; /* 177.778% */
}
.more {
	font-size: 18px;
	font-weight: 700;
	color: #FFC178;
	display: flex;
	column-gap: 9px;
align-items: center;
}
.more span i{
	font-size: 24px;
	transform: rotate(-90deg);
}
/*============================================================ HEADER ===================================================================*/
.header {
	position: relative;
  /* top: 0; */
  /* left: 0; */
  z-index: 50;
  /* width: 100%; */
	padding: 64px 0px;
}
.header__container {
	/* position: relative; */
	max-width: 1781px;
	min-height: 25px;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: space-between;
	align-items: center;
}
.header-logo {
}
.header-logo img{
	max-width: 100%;
}
/*============================================================ MENU ===================================================================*/
.header-menu {
}
.menu {
}
.menu-body {
}
.menu-list {
	display: flex;
	flex-wrap: wrap;
	column-gap: 50px;
}
.menu-item {
}
.menu-link {
	font-size: 18px;
	font-weight: 600;
	color: #fff;
}
.link-hover{
	position: relative;
	display: inline-block;
}
.link-hover::after{
	content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  background-color: #fff;
  height: 1px;
	transition: all 0.3s ease 0s;
}
.link-hover:hover::after{
	width: 100%;
}
/*=======================================================================================================================================*/
.header-search {
}
.header-search-btn {
	font-size: 17px;
	color: #fff;
	background-color: transparent;
	cursor: pointer;
	display: flex;
	align-items: center;
	column-gap: 14px;
}
.header-search-icon {
	font-size: 14px;
}
/*============================================================ SOCIAL ===================================================================*/
.social {
	position: absolute;
	top: 72px;
	left: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 20px;
}
.social-title {
	font-size: 18px;
	font-weight: 600;
	writing-mode: vertical-rl;
}
.social-icon {
	color: #fff;
	font-size: 20px;
	transition: all 0.3s ease 0s;
}
.social-icon:hover{
	color: #FFC178;
}
/*============================================================ MAIN-BLOCK ===============================================================*/
.page {
	flex: 1 1 auto;
	overflow: hidden;
}
/*=======================================================================================================================================*/
.main-block {
	min-height: 100vh;
	display: flex;
	padding-top: 134px;
}
.main-block__container {
	flex: 1 1 auto;
	max-width: 1781px;
	position: relative;
	z-index: 1;
	width: 100%;
	display: flex;
	flex-direction: column;
}
.main-block-body {
	flex: 1 1 auto;
	max-width: 1050px;
	margin: 0 auto;
	padding: 0px 50px;
	display: flex;
	flex-direction: column;
	row-gap: 32px;
}
.main-block-sub-title {
}
.main-block-main-title {
	font-size: 88px;
	line-height: 104%;
	text-transform: capitalize;
}
.main-block-main-title span{	
	font-size: 96px;
	font-weight: 700;
	line-height: 104%;
}
.main-block-main-title:not(:last-child){
	margin: 0px 0px 94px 0px;
}
.main-block-action {
align-self: center;
	font-size: 18px;
	font-weight: 600;
	display: flex;
	column-gap: 9px;
	align-items: flex-end;
}
.main-block-action span{
	font-size: 24px;
	font-weight: 400;
}
/* .main-block-bg {
	position: absolute;
  width: 100%;
	height: calc(100vh + 358px);
  top: 0;
  left: 0;
	background: linear-gradient(330deg, rgba(0, 0, 0, 0.00) 31.06%, #000 108.93%), 
							linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0.00) 22%);
}
.main-block-bg img {
  position: absolute;
  width: 100%;
	height: calc(100vh + 358px);
  top: 0;
  left: 0;
	object-fit: cover;
	object-position: center;
	z-index: -1; 
} */
/*============================================================ ABOUT ====================================================================*/
.about {
	padding: 215px 0px 125px 0px;
}
.about__container {
	/* position: relative;
	z-index: 1; */
}
.about-body {
	display: flex;
	flex-wrap: wrap;
	margin: 0px -116px;
}
.about-picture{
	flex: 1 1 50%;
	padding: 0px 116px;
}
/* .about-picture {
	position: relative;
	padding: 0px 0px 100% 0px;
} */
.about-picture img{
	/* position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center; */
	max-width: 100%;
}
.about-content {
	flex: 1 1 50%;
	padding: 85px 116px;
	display: flex;
	flex-direction: column;
	row-gap: 27px;
}
.about-sub-title {
}
.about-title {
	max-width: 90%;
}
.about-text {
}
.about-more {
}
/*============================================================ BROMO ====================================================================*/
.bromo {
	padding: 125px 0px;
}
.bromo__container {
}
.bromo-slider {
	position: relative;
}
.bromo-wrapper {
}
.bromo-slide {
	position: relative;
}
.bromo-picture {
}
.bromo-content {
	position: absolute;
	width: 69.54%;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	padding: 41px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	row-gap: 24px;
}
.bromo-sub-title {
}
.bromo-sub-title::after{
	content: '';
	width: 72px;
	height: 2px;
	background-color: #FFC178;
	align-self: center;
}
.bromo-title {
	max-width: 80%;
}
.bromo-title:not(:last-child) {
	margin: 0px 0px 3px 0px;
}
.bromo-text {
}
.bromo-text:not(:last-child) {
	margin: 0px 0px 15px 0px;
}
.bromo-more {
}
.bromo-button-prev,
.bromo-button-next {
	width: 30px;
	height: 30px;
	cursor: pointer;
	background-color: transparent;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);

}
.bromo-button-prev:hover .arrow-left,
.bromo-button-next:hover .arrow-right{
border-color: #FFC178;
}
.bromo-button-prev {
	left: 41px;
}
.bromo-button-next {
	right: 41px;
}
.arrow-left,
.arrow-right{
	border: solid #fff;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 7px;
	transition: all 0.3s ease 0s;
}

.arrow-right{
	transform: rotate(-45deg);
}

.arrow-left {
	transform: rotate(135deg);
}
/*============================================================ CULTURE ==================================================================*/
.culture {
	padding: 125px 0px;
}
.culture__container {
}
.culture-body {
	display: flex;
	flex-wrap: wrap;
	margin: 0px -105px;
}
.culture-picture {
	order: 2;
	flex: 1 1 50%;
	padding: 0px 105px;
	text-align: right;
}
.culture-picture img{
	max-width: 100%;
}
.culture-content {
	order: 1;
	flex: 1 1 50%;
	padding: 115px 105px 0px 147px;
	display: flex;
	flex-direction: column;
	row-gap: 27px;
}
.culture-sub-title {
}
.culture-title {
}
.culture-text {
}
.culture-more {
}
/*============================================================ FOOTER ===================================================================*/
.footer {
	padding: 125px 0px 118px 0px;
}
.footer__container {
}
/*============================================================ FOOTER-TOP ===============================================================*/
.footer-top {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	padding: 0px 0px 46px 0px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.footer-logo {
}
.footer-logo img{
	max-width: 100%;
}
.footer-top-right {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	column-gap: 55px;
}
.footer-top-right-slogan {
	font-family: 'DM Sans', sans-serif;
	font-size: 22px;
	letter-spacing: -0.3px;
}
.footer-top-right-btn {
	font-family: 'DM Sans', sans-serif;
	font-size: 17px;
	font-weight: 700;
	color: #000;
	padding: 24px 70px;
	border-radius: 8px;
	background-color: #FFA343;
	transition: all 0.3s ease 0s;
}
.footer-top-right-btn:hover{
	background-color: #C38340;
}
/*============================================================ FOOTER-BOTTOM ============================================================*/
.footer-bottom {
	padding: 55px 0px 0px 0px;
	display: flex;
	flex-direction: column;
	row-gap: 100px;
}
.footer-bottom-row {
}
.footer-bottom-row:nth-child(2):not(:last-child){
	margin-bottom: 56px;
}
.footer-bottom-row-top{
	display: flex;
	flex-wrap: wrap;
	column-gap: 252px;
	row-gap: 20px;
}
.footer-bottom-row-middle{
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	align-items: center;
}
.footer-bottom-row-top{}

.footer-bottom-subscribe {
	flex: 1 1 25%;
}
.subscribe-title {
	font-size: 36px;
	font-weight: 700;
	line-height: normal;
	letter-spacing: -0.3px;
}
.subscribe-title:not(:last-child){
	margin: 0px 0px 50px 0px;
}
.subscribe-form {
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	display: flex;
	column-gap: 2px;
}
.subscribe-input {
flex: 1 1 auto;
	min-height: 70px;
	padding: 19px 15px;
	background-color: #000;
	color: #fff;
}
.subscribe-input::placeholder {
	font-family: 'DM Sans', sans-serif;
	font-size: 15px;
	letter-spacing: -0.205px;
	color: rgba(255, 255, 255, 0.5);
}	
.subscribe-btn {
	width: 70px;
	height: 70px;
	background-color: #FFA343;
	border-radius: 8px 8px 0 0;
	cursor: pointer;
}
.subscribe-btn span{
	border: solid #000;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 4px;
	transition: all 0.3s ease 0s;
	transform: rotate(-45deg) translateX(-3px);
}
.subscribe-btn:focus{
	outline: none;
	border: 2px solid #fff;
}

.footer-bottom-catalog {
	flex: 1 1 auto;
	display: flex;
	column-gap: 185px;
	padding-top: 20px;
}
.list {
}
.item {
}
.item:not(:last-child){
	margin: 0px 0px 19px 0px;
}
.item:first-child {
	font-size: 20px;
	font-weight: 700;
	letter-spacing: -0.232px;
	color: #FFD1A0;
}
.link {
	font-size: 19px;
	letter-spacing: -0.205px;
	color: #FFF;
	margin-bottom: 4px;
}

.footer-policy {
	flex: 1 1 auto;
	display: flex;
	flex-wrap: wrap;
	column-gap: 90px;
	padding-left: 42px;
}
.footer-terms,
.footer-privacy{
	font-family: 'DM Sans', sans-serif;
	font-size: 15px;
	letter-spacing: -0.205px;
	color: #fff;
}
.footer-privacy {
}
.footer-social{
display: flex;
column-gap: 52px;
}
.footer-social a i{
	font-size: 30px;
}
.social-icon {
}
.footer-copy {
	font-size: 18px;
	font-weight: 600;
	line-height: 178%; /* 177.778% */
	color: rgba(255, 255, 255, 0.5);
	text-align: center;
}