/*=========== CONTENT ===================================================================================================================*/
.content {
	padding: 4.75rem 0px 1.688rem 0px;
}

.content__container {
	display: flex;
	flex-direction: column;
	row-gap: 1.25rem;
}

/*=======================================================================================================================================*/
.content-main-title {
	padding: 0.375rem 0px 0.875rem 0px;
	font-size: 4rem;
	font-weight: 800;
	letter-spacing: 0.22rem;
	color: var(--main-white);
}

/*=======================================================================================================================================*/
.content-text {
	font-size: 1.5rem;
	line-height: 141.523%;
}

/*=======================================================================================================================================*/
.stream-now-btn {
	display: flex;
	align-items: center;
	column-gap: 1.063rem;
}

/*=======================================================================================================================================*/
.content-actions {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 1.25rem 3.125rem;
}